.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1.5px;
  display: block;
  right: 0;
  background: currentColor;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  left: 0;
  background: currentColor;
}
