.newsPage {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 2.5rem;
  color: #333;
}

.featuredNews,
.recentNews {
  margin-bottom: 40px;
}

.featuredNews h2,
.recentNews h2 {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.article:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.articleLink {
  text-decoration: none;
  color: inherit;
}

.articleImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.articleContent {
  padding: 15px;
}

.articleContent h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #222;
}

.articleContent p {
  font-size: 1rem;
  color: #666;
}

.articlesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.carouselContainer {
  --background: #fff;
  --foreground: #222;
  --black: #333;
  --border: #444;
  --green: #a7d479;
  --yellow: #fdd28e;
  --purple: #ecc5f4;
  --orange: #ff928f;
  --orange-hover: #f27470;
  --teal: #a2e0df;
  --link-hover: #3b82f6;
  --gray: #f3f1f1;
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  --font-geist-sans: "Geist", "Geist Fallback";
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
  font-family: var(--font-geist-sans);
  --gray-rgb: 255, 255, 255;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  overflow-x: hidden;
  width: 100%;
  white-space: nowrap;
  padding: 0.2rem 0;
  margin: 0 auto;
  max-width: 75%;
}

.styleOne {
  --background: #fff;
  --foreground: #222;
  --black: #333;
  --border: #444;
  --green: #a7d479;
  --yellow: #fdd28e;
  --purple: #ecc5f4;
  --orange: #ff928f;
  --orange-hover: #f27470;
  --teal: #a2e0df;
  --link-hover: #3b82f6;
  --gray: #f3f1f1;
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  --font-geist-sans: "Geist", "Geist Fallback";
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
  font-family: var(--font-geist-sans);
  --gray-rgb: 255, 255, 255;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  min-width: min-content;
  transform: translateX(-42.08%);
}

.styleTwo {
  --background: #fff;
  --foreground: #222;
  --black: #333;
  --border: #444;
  --green: #a7d479;
  --yellow: #fdd28e;
  --purple: #ecc5f4;
  --orange: #ff928f;
  --orange-hover: #f27470;
  --teal: #a2e0df;
  --link-hover: #3b82f6;
  --gray: #f3f1f1;
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  --font-geist-sans: "Geist", "Geist Fallback";
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
  font-family: var(--font-geist-sans);
  --gray-rgb: 255, 255, 255;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  min-width: min-content;
  transform: translateX(-84.2867%);
}
